.actions {
  margin-top: 80px;
}

.actions p {
  margin-bottom: 30px;
}

.actions a {
  text-decoration: none;
  font: inherit;
  cursor: pointer;
  background-color: #4a3fee;
  color: white;
  padding: 0.5rem 1.5rem;
  border: 1px solid #4a3fee;
  border-radius: 4px;
  font-weight: bold;
}

.actions a:hover,
.actions a:active {
  text-decoration: none;
  background-color: #5188db;
  border-color: #5188db;
}
