.actions {
    margin-top: 80px;
}

.actions p {
    margin-bottom: 30px;
}

.actions a {
  text-decoration: none;
  background-color: #347be6;
  color: white;
  padding: 1em 1.5em;
}

.actions a:hover {
  background-color: #558cdd;
}

.actions a:active {
  background-color: #558cdd;
}
